<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body style="background: white;">
    <div>
        <label>出力先パス<input type="text"></label>

        <div class="attribute_container">
            // TODO: 属性を表示
            <div class="attribute">
                <label>属性1</label>
                <input type="text">
                <input type="text">
            </div>
        </div>

        <input type="submit" value="作成">
    </div>
</body>
</html>
